.containermain {
border: 1px solid #919191;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px;
padding: 20px 10px ;
}
.profileMain{
    width: 98%;
    display: flex;
    margin: 0 auto;
    outline: none;
    border: none;
}
.iconSec p {
    margin-bottom: 0;
}
.card{
    width: 50%;
    padding: 5px;
    margin: 4px 2px;
}.cardBottom{
    width: 97.80%;
    padding: 5px;
    margin: 2px auto;
    border: 1px solid rgba(0,0,0,.125);
    flex: display;
}
.error01 {
    position: absolute;
    color: red;
}
.profileView input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 4px;
    cursor: pointer;
}
@media only screen and (max-width: 1100px) {
    .profileMain {
      display: flex;
      flex-direction: column;
      width: 98%;
    }
    .card {
        width: 100%;
        margin: 1px auto;
    }
  }