
.timeSheet {
    height: 100vh;
    padding-top: 5%;   
    padding-left: 15%;
    overflow-y: scroll;
}
.swal2-styled.swal2-confirm {
    background: none !important;
    background-color: #278acb !important;
    text-transform: uppercase;
    font-weight: 700;
}
.buttonStackTimeSheet {
    margin-top: 100px;
    transition: all 100ms ease-in-out;
}
@media only screen and (max-width: 600px) {
    .buttonStackTimeSheet {
        padding-top:20px ;
    }
}