.home {
    height: 100vh;
    padding-top: 5%;   
    padding-left: 15%;
    overflow-y: scroll;
}
.cardTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
    margin-top:3%;
    background-color: #ffffff;
    width: 80%;
    border-radius: 15px;
    border: 2px solid #919191;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 100ms ease-out;

}
.cardStarEmployees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
    margin-top:3%;
    background-color: #ffffff;
    width: 80%;
    border-radius: 15px;
    border: 2px solid #919191;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 100ms ease-out;
}
.homeCompanyEvents {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.homeEvent {
    display: flex;
    flex-direction: column;
    align-self: auto;
    align-items: center;
    margin: 0 auto;
    margin-top:3%;
    background-color: #ffffff;
    width: 45%;
    border-radius: 15px;
    border: 2px solid #919191;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 1100px) {
    .cardTop {
        margin-top: 7%;
      display: block;
      width: 60%;
      align-items: flex-start;
    }
    .cardItem {
        align-items: flex-start;
    }
    .cardStarEmployees {
        display: block;
        width: 60%;
    }
    .starCard {
        display: block;
    }
    .starCard img{
        margin: auto;
    }
    .staricon svg{
        margin:  auto;
    }
    .homeCompanyEvents {
        display: block;
        padding: 0;
        width: 100%;
    }
    .homeEvent {
        width: 80%;
    }

  }
  @media only screen and (max-width: 600px) {
    .cardTop {
        margin-top: 17%;
      display: block;
      width: 80%;
    }
    .cardTop h5 {
        font-size: small;
    }
    .cardTop h6 {
        font-size: smaller;
    }
    .cardStarEmployees {
        display: block;
        width: 80%;
    }

    .cardStarEmployees  h5 {
        font-size: small;
    }
    .stars5 {
        margin-right: auto;
    }
    .cardItem {
        align-items: flex-start;
    }
    .starCard h6 {
        font-size: small;
    }
    .starCard p {
        font-size: smaller;
    }
    .homeCompanyEvents {
        display: block;
        padding: 0;
    }

  }